{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        {% if app.user %}
            <div class="container text-right">
                <h6> Vous êtes connecté en tant que {{ app.user.username }} !  <a href="{{ path('app_logout') }}">Se déconnecter..</a></h6>
            </div>
        {% endif %}
        
        {% for message in app.flashes('Bravo!') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('impossible') %}
            <div class="alert alert-danger alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
        <!-- titre -->
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" >
        </div>
        <!-- menu -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.formations') }}">Gestions des formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.niveaux') }}">Gestions des niveaux</a>
                    </li>
                </ul>

            </div>
        </nav>        
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %} 